ChainID = 999
CoinPrecision = 100000000
CoinSymbol = "ycc"
Title = "pos33"
version = "1.0.0.1"

[log]
# 日志级别，支持debug(dbug)/info/warn/error(eror)/crit
logConsoleLevel = "error"
loglevel = "info"
# 日志文件名，可带目录，所有生成的日志文件都放到此目录下
logFile = "logs/chain33.log"

[blockchain]
# 区块数据目录
batchsync = false
dbCache = 512
dbPath = "datadir"
disableBlockBroadcast = false
disableShard = true
enablePushSubscribe = false
enableReExecLocal = false
enableReduceLocaldb = true
enableTxQuickIndex = true
isParaChain = false
isRecordBlockSequence = true
singleMode = false

[mempool]
maxTxNumPerAccount = 100000
poolCacheSize = 20240

[p2p]
dbPath = "datadir/addrbook"
grpcLogFile = "grpc33.log"

[p2p.sub.dht]
# 分组通道, 同一个网络的channel必须相同
channel = 9
# p2p服务端口
port = 13801
#可以自定义设置连接节点
seeds = [
  "/ip4/3.112.197.178/tcp/13801/p2p/16Uiu2HAm5HWtYK211WmKBJWcT8jfbNFGTVft9w29HJqRifiBKotx",
  "/ip4/18.167.231.200/tcp/13801/p2p/16Uiu2HAmF32CeMnNa3ud2hce8F1UGZtvyvZ48SCViMiJN1QJVvcR",
  "/ip4/18.167.240.187/tcp/13801/p2p/16Uiu2HAm8r9GZPPhfXEXGYvHQNgbnRe3CiNvRkFXqioiYumm6mJj",
  "/ip4/121.52.224.84/tcp/13801/p2p/16Uiu2HAm4KV8puoy5SKLXhz36E1vkrnMTsU5NBy98qoyBhrfnKoj",
  "/ip4/121.52.224.85/tcp/13801/p2p/16Uiu2HAmMnGGDYg8oKvYeQuZWqer8m4u1k2bUZyNxuevhS9SZ1mm",
  "/ip4/121.52.224.86/tcp/13801/p2p/16Uiu2HAkxDkbdzH7LDMuwSkYPfApRDNd2jeSbwobL2m6LrpJzZbW",
]

[p2p.sub.dht.broadcast]
disableBatchTx = true
minLtBlockSize = 100

[rpc]
certFile = "cert.pem"
enableTLS = false
grpcBindAddr = "localhost:9902"
grpcFuncWhitelist = ["*"]
jrpcBindAddr = "localhost:9901"
jrpcFuncWhitelist = ["*"]
keyFile = "key.pem"
whitelist = ["127.0.0.1"]

[rpc.sub.eth]
enable = false
httpAddr = "localhost:8547"
httpApi = ["eth", "web3", "personal", "admin", "net"]
# websocket 绑定地址
wsAddr = "localhost:8548"
wsApi = ["eth", "web3", "personal", "admin", "net"]

[consensus.sub.pos33]
bootPeers = [
  "/ip4/121.52.224.84/tcp/10801/p2p/16Uiu2HAmErmNhtS145Lv5fe9FWrHSrNjPkp1eMLeLgi6t3sdr1of",
  "/ip4/121.52.224.85/tcp/10801/p2p/16Uiu2HAkwjfnaDfxzV2ZKfqKXoLq3ftTLh8GyxorWE25gPfRE9gB",
  "/ip4/121.52.224.86/tcp/10801/p2p/16Uiu2HAmJmMxZRMYtYSLpbZK4aNjJo8dPyagX2ACm3gi4LEu2SPU",
]
issueTotal = 10000000000
listenPort = 10801

[mver.consensus]
maxTxNumber = 30000

[store]
dbPath = "datadir/kvmvcc"

[wallet]
coinType = "ycc"
dbPath = "wallet"

[health]
listenAddr = "localhost:8708"
